---
import { getTags } from '@/util';
import type { Frontmatter } from '@/types';
import Base from "@/layouts/Base.astro";

export async function getStaticPaths() {
    const posts = await Astro.glob('../../../posts/*.md')
    return getTags(posts).map((tag) => {
        return {
            params: {
                tag
            },
            props: {
                posts: posts.filter(post => post.frontmatter.tags&&post.frontmatter.tags.includes(tag))
            } 
        }
    })
}

export interface Props {
    posts?: any[];
}

const {
    posts=[]
} = Astro.props

const {
    tag
} = Astro.params

---

<Base>
    <h1 class="text-center">My Posts</h1>
    <div class="flex flex-col gap-5 my-5">
        { posts.map((post) => {
            const {
                slug,
                title,
                description,
                date='',
                tags=[],
            } = post.frontmatter as Frontmatter

            return (
                <article>
                    <a href={`/posts/${slug}`} class="text-darker font-bold">{title}</a>
                    <div class="flex flex-col sm:flex-row items-start gap-x-3 text-fluid-0">
                        <time class="whitespace-nowrap text-grayer">{(new Date(date)).toDateString()}</time>
                        <div class="flex flex-wrap gap-x-3">                            
                            {tags.map((tag) => {
                                return <a href={`/posts/tags/${tag}`}>#{tag}</a>
                            })}
                        </div>
                    </div>
                    <p class="text-fluid-0">
                        {description}
                    </p>
                </article>
            )
        })}
    </div>
</Base>