---
import Base from "@/layouts/Base.astro";

export async function getStaticPaths() {
    const posts = await Astro.glob('../../../posts/*.md')
    const tags = [...new Set(posts.map(post => post.frontmatter.tags).flat())]
    return tags.map((tag) => {
        return {
            params: {
                tag: tag||[]
            },
            props: {
                posts: posts.filter(post => post.frontmatter.tags&&post.frontmatter.tags.includes(tag))
            } 
        }
    })
}

export interface Props {
    posts?: any[];
}

const {
    posts=[]
} = Astro.props

const {
    tag
} = Astro.params

---

<Base>
    <hgroup class="flex flex-col items-center">
        <h1 class="text-center">My Posts</h1>
        <p><strong>Tag</strong>: {tag}</p>
    </hgroup>
    <div class="flex flex-col gap-3 my-5">
        { posts.map((post) => {
            const {
                slug,
                title,
                description,
                date: _date='',
                tags=[],
            } = post.frontmatter as {
                slug?: string;
                title?: string;
                description?: string;
                date?: string|number|Date;
                tags?: string[];
            }
            const date = new Date(_date)
            return (
                <article>
                    <a href={`/posts/${slug}`} class="text-black font-bold">{title}</a>
                    <div class="flex items-center gap-3 text-fluid-0">
                        <time>{date.toDateString()}</time>
                        {tags.map((tag) => {
                            return <a href={`/posts/tags/${tag}`}>{tag}</a>
                        })}
                    </div>
                    <p class="text-fluid-0">
                        {description}
                    </p>
                </article>
            )
        })}
    </div>
</Base>