---
import { Icon } from 'astro-icon';
import Markdown from "@/layouts/Markdown.astro";
import type { Article, Frontmatter } from '@/types';

export async function getStaticPaths() {
    const articles = await Astro.glob<Frontmatter>('../../articles/*.md')
    return articles.map((article) => {
        return {
            params: {
                slug: article.frontmatter.slug
            },
            props: {
                article
            } 
        }
    })
}
export type Props = {
    article: Article;
}

const { article } = Astro.props

const {
    frontmatter,
    compiledContent
} = article

const {
    title,
    date='',
    source,
    demo,
    tags=[]
} = frontmatter
---

<Markdown {...frontmatter}>
    <div class="my-5">
        <h1 class="p-0">{title}</h1>
        <ul class="flex gap-1">
            {tags.map((tag, i) => {
                return <li><a href={`/articles/tags/${tag}`}>{tag}</a>{i < tags.length - 1 && ','}</li>
            })}
        </ul>
        <div class="flex gap-3 my-1">
            <span>{(new Date(date)).toDateString()}</span>
            {source &&<a href={source} title="Source" class="opacity-75 hover:opacity-50"><Icon name="mdi:github" size={24}/></a>}
            {demo && <a href={demo} title="Demo" class="opacity-75 hover:opacity-50"><Icon name="zondicons:computer-laptop" size={24} /></a>}
        </div>
    </div>
    <section class="markdown">
        <Fragment set:html={compiledContent()}/>
    </section>
</Markdown>