---
import Base from "@/layouts/Base.astro";
import type { Frontmatter } from '@/types';

let posts = await Astro.glob('../../posts/*.md');
posts = posts.filter(post => post.frontmatter.draft !== true)
posts = posts.sort((a, b) => new Date(b.frontmatter.date).valueOf() - new Date(a.frontmatter.date).valueOf());
---

<Base>
    <h1 class="text-center">My Posts</h1>
    <div class="flex flex-col gap-5 my-5">
        { posts.map((post) => {
            const {
                slug,
                title,
                description,
                date='',
                tags=[],
            } = post.frontmatter as Frontmatter
            return (
                <article>
                    <a href={`/posts/${slug}`} class="text-darker font-bold">{title}</a>
                    <div class="flex flex-col sm:flex-row items-start gap-x-3 text-fluid-0">
                        <time class="whitespace-nowrap text-grayer">{(new Date(date)).toDateString()}</time>
                        <div class="flex flex-wrap gap-x-3">                            
                            {tags.map((tag) => {
                                return <a href={`/posts/tags/${tag}`}>#{tag}</a>
                            })}
                        </div>
                    </div>
                    <p class="text-fluid-0">
                        {description}
                    </p>
                </article>
            )
        })}
    </div>
</Base>