---
import { getCollection } from 'astro:content';
import Markdown from "@/layouts/Markdown.astro";
import { Icon } from 'astro-icon';
import type { BlogEntry } from '@/types';

export async function getStaticPaths() {
    const posts = await getCollection('blog')
    return posts.map((post) => {
        return {
            params: {
                slug: post.data.slug
            },
            props: {
                post
            } 
        }
    })
}

export type Props = {
    post: BlogEntry;
}

const { post } = Astro.props

const {
    title,
    date='',
    source,
    demo,
    tags=[]
} = post.data

const { Content } = await post.render();
---

<Markdown {...post}>
    <header id="_post-header" class="flex flex-col gap-1/2">
        <h1>{title}</h1>
        <div>
            <time>{(new Date(date)).toDateString()}</time>
        </div>
        <nav>
            <ul class="tag-list">
                {tags.map((tag, i) => {
                    return <li><a href={`/tags/${tag}`}>#{tag}</a>{i < tags.length - 1 && ','}</li>
                })}
            </ul>
            <ul class="icon-list">
                {demo && <li><a href={demo} title="Demo"><Icon name="zondicons:computer-laptop"/></a></li>}
                {source && <li><a href={source} title="Source"><Icon name="mdi:github"/></a></li>}
            </ul>
        </nav>
    </header>
    <section class="container markdown">
        <Content />
    </section>
</Markdown>