---
import Markdown from "@/layouts/Markdown.astro";
import { Icon } from 'astro-icon';
import type { Post, Frontmatter } from '@/types';

export async function getStaticPaths() {
    const posts = await Astro.glob<Frontmatter>('/src/blog/*.md');
    return posts.map((post) => {
        return {
            params: {
                slug: post.frontmatter.slug
            },
            props: {
                post
            } 
        }
    })
}

export type Props = {
    post: Post;
}

const { post } = Astro.props

const {
    title,
    date='',
    source,
    demo,
    tags=[]
} = post.frontmatter
---

<Markdown {...post}>
    <div class="my-5">
        <ul class="flex gap-1">
            {tags.map((tag, i) => {
                return <li><a href={`/blog/tags/${tag}`}>#{tag}</a>{i < tags.length - 1 && ','}</li>
            })}
        </ul>
        <h1 class="my-1 p-0">{title}</h1>
        <div class="flex items-center gap-3">
            <span>{(new Date(date)).toDateString()}</span>
            {source &&<a href={source} title="Source" class="opacity-75 hover:opacity-50"><Icon name="mdi:github" size={24}/></a>}
            {demo && <a href={demo} title="Demo" class="opacity-75 hover:opacity-50"><Icon name="zondicons:computer-laptop" size={24} /></a>}
        </div>
    </div>
    <section class="markdown">
        <Fragment set:html={post.compiledContent()}/>
    </section>
</Markdown>