---
import { getCollection } from "astro:content";
import Base from "@/layouts/Base.astro";
import { tagFrequency } from '@/util';

const projects = await getCollection('projects');
const articles = await getCollection('blog');
---

<Base>
    <h1 class="text-center">Tags</h1>
    <section class="container">
        <h2>Articles</h2>
        <ol class="tag-list gap-3/2">
            { Object.entries(tagFrequency(articles)).map(([tag, freq]) => {
                if (tag) return <li class="nowrap"><a href={`/blog/tags/${tag}`}>#{tag} {freq > 1 && `(${freq})`}</a></li>
            })}
        </ol>
    </section>
    <section class="container">
        <h2>Projects</h2>
        <ol class="tag-list gap-3/2">
            { Object.entries(tagFrequency(projects)).map(([tag, freq]) => {
                if (tag) return <li class="nowrap"><a href={`/projects/tags/${tag}`}>#{tag} {freq > 1 && `(${freq})`}</a></li>
            })}
        </ol>
    </section>
</Base>