---
import { filterSort } from '@/util';
import type { Entry } from '@/types';

export interface Props {
    posts: Entry[];
}

const {
    posts
} = Astro.props as Props
---

<ul class="post-list">
    { filterSort(posts).map((post) => {
        const {
            title,
            slug,
            package: pkg,
            description,
            date,
            tags=[]
        } = post.data
        return (
            <li>
                <a href={`/${post.collection}/${slug}`} class="post-link">{(post.collection==="blog"?title:pkg)||slug}</a>
                <div class="flex gap">
                    {date && <time>{(new Date(''+date)).toDateString()}</time>}
                    {tags &&
                        <ul class="tag-list">                            
                            {tags.map((tag) => {
                                return <li><a href={`/${post.collection}/tags/${tag}`}>#{tag}</a></li>
                            })}
                        </ul>
                    }
                </div>
                {description && <p>{description}</p>}
            </li>
        )
    })}
</ul>