---
import { Icon } from 'astro-icon';
import Markdown from "@/layouts/Markdown.astro";
import type { Project } from '@/types';

export async function getStaticPaths() {
    const projects = await Astro.glob('../../projects/*.md')
    return projects.map((project) => {
        return {
            params: {
                slug: project.frontmatter.slug
            },
            props: {
                project
            } 
        }
    })
}

const {
    project
} = Astro.props

const {
    title,
    date='',
    source,
    demo,
    tags=[]
} = project.frontmatter as Project
---

<Markdown>
    <div class="my-5">
        <div class="flex flex-col md:flex-row md:items-end justify-between">
            <h1 class="p-0">{title}</h1>
            <ul class="flex gap-1">
                {tags.map((tag, i) => {
                    return <li><a href={`/projects/tags/${tag}`}>{tag}{i < tags.length - 1 && ','}</a></li>
                })}
            </ul>
        </div>
        <div class="flex items-center gap-3 my-3">
            <span>{(new Date(date)).toDateString()}</span>
            {source &&<a href={source} title="Source" class="text-black opacity-75 hover:opacity-50"><Icon name="mdi:github" size={24}/></a>}
            {demo && <a href={demo} title="Demo" class="text-black opacity-75 hover:opacity-50"><Icon name="zondicons:computer-laptop" size={24} /></a>}
        </div>
    </div>
    <section class="markdown">
        <Fragment set:html={project.compiledContent()}/>
    </section>
</Markdown>