---
import Markdown from "@/layouts/Markdown.astro";

export async function getStaticPaths() {
    const projects = await Astro.glob('../../projects/*.md')
    return projects.map((project) => {
        return {
            params: {
                slug: project.frontmatter.slug
            },
            props: {
                project
            } 
        }
    })
}

const {
    project
} = Astro.props

const {
    title,
    date: _date='',
    source,
    demo,
    tags=[]
} = project.frontmatter as {
    title?: string;
    date?: string | number | Date;
    source?: string;
    demo?: string;
    tags?: string[];
}

const date = new Date(_date);

---

<Markdown>
    <div class="my-5">
        <h1>{title}</h1>
        <div class="flex gap-3">
            <span>{date.toDateString()}</span>
            {source && <a href={source}>Source</a>}
            {demo && <a href={demo}>Demo</a>}
            {tags.map((tag) => {
                return <span>{tag}</span>
            })}
        </div>
    </div>
    <section class="markdown">
        <Fragment set:html={project.compiledContent()}/>
    </section>
    <div class="flex justify-center gap-3">
        <span>{date.toDateString()}</span>
        {source && <a href={source}>Source</a>}
        {demo && <a href={demo}>Demo</a>}
    </div>
</Markdown>