---
import { getCollection } from 'astro:content';
import Markdown from "@/layouts/Markdown.astro";
import { Icon } from 'astro-icon';
import type { ProjectEntry } from '@/types';

export async function getStaticPaths() {
    const posts = await getCollection('projects');
    return posts.map((post) => {
        return {
            params: {
                slug: post.data.slug
            },
            props: {
                post
            } 
        }
    })
}

export type Props = {
    post: ProjectEntry;
}

const { post } = Astro.props

const {
    title,
    date='',
    source,
    demo,
    tags=[]
} = post.data

const { Content } = await post.render();
---

<Markdown {...post}>
    <header id="_post-header">
        <h1>{title}</h1>
        <div class="flex flex-col gap">
            <ul class="tag-list">
                {tags.map((tag, i) => {
                    return <li><a href={`/projects/tags/${tag}`}>#{tag}</a>{i < tags.length - 1 && ','}</li>
                })}
            </ul>
            <div class="flex items-center gap-1">
                <time>{(new Date(date)).toDateString()}</time>
                {source &&<a href={source} title="Source"><Icon name="mdi:github" size={24}/></a>}
                {demo && <a href={demo} title="Demo"><Icon name="zondicons:computer-laptop" size={24} /></a>}
            </div>
        </div>
    </header>
    <section class="container markdown">
        <Content />
    </section>
</Markdown>