---
import { getTags } from '@/util';
import type { Frontmatter } from '@/types';
import Base from "@/layouts/Base.astro";

export async function getStaticPaths() {
    const projects = await Astro.glob('../../../projects/*.md')
    const tags = getTags(projects)
    return tags.map((tag) => {
        return {
            params: {
                tag
            },
            props: {
                projects: projects.filter(project => project.frontmatter.tags&&project.frontmatter.tags.includes(tag))
            } 
        }
    })
}

export interface Props {
    projects?: any[];
}

const {
    projects=[]
} = Astro.props

const {
    tag
} = Astro.params

---

<Base>
    <h1 class="text-center">My Projects</h1>
    <div class="flex flex-col gap-5 my-5">
        { projects.map((project) => {
            const {
                slug,
                title,
                description,
                date='',
                tags=[],
            } = project.frontmatter as Frontmatter
            return (
                <article>
                    <a href={`/projects/${slug}`} class="text-darker font-bold">{title}</a>
                    <div class="flex flex-col sm:flex-row items-start gap-x-3 text-fluid-0">
                        <time class="whitespace-nowrap text-grayer">{(new Date(date)).toDateString()}</time>
                        <div class="flex flex-wrap gap-x-3">                            
                            {tags.map((tag) => {
                                return <a href={`/projects/tags/${tag}`}>#{tag}</a>
                            })}
                        </div>
                    </div>
                    <p class="text-fluid-0">
                        {description}
                    </p>
                </article>
            )
        })}
    </div>
</Base>