---
import Base from "@/layouts/Base.astro";

export async function getStaticPaths() {
    const projects = await Astro.glob('../../../projects/*.md')
    const tags = [...new Set(projects.map(project => project.frontmatter.tags).flat())]
    return tags.map((tag) => {
        return {
            params: {
                tag
            },
            props: {
                projects: projects.filter(project => project.frontmatter.tags&&project.frontmatter.tags.includes(tag))
            } 
        }
    })
}

export interface Props {
    projects?: any[];
}

const {
    projects=[]
} = Astro.props

const {
    tag
} = Astro.params

---

<Base>
    <hgroup class="flex flex-col items-center">
        <h1 class="text-center">My Projects</h1>
        <p><strong>Tag</strong>: {tag}</p>
    </hgroup>
    <div class="flex flex-col gap-3 my-5">
        { projects.map((project) => {
            const {
                slug,
                title,
                description,
                date: _date='',
                tags=[],
            } = project.frontmatter as {
                slug?: string;
                title?: string;
                description?: string;
                date?: string|number|Date;
                tags?: string[];
            }
            const date = new Date(_date)
            return (
                <article>
                    <a href={`/projects/${slug}`} class="text-black font-bold">{title}</a>
                    <div class="flex items-center gap-3 text-fluid-0">
                        <time>{date.toDateString()}</time>
                        {tags.map((tag) => {
                            return <a href={`/projects/tags/${tag}`}>{tag}</a>
                        })}
                    </div>
                    <p class="text-fluid-0">
                        {description}
                    </p>
                </article>
            )
        })}
    </div>
</Base>