---
import Base from "@/layouts/Base.astro";
import type { Project } from '@/types';

export async function getStaticPaths() {
    const projects = await Astro.glob('../../../projects/*.md')
    const tags = [...new Set(projects.map(project => project.frontmatter.tags).flat())].filter(tag => tag !== undefined)
    return tags.map((tag) => {
        return {
            params: {
                tag
            },
            props: {
                projects: projects.filter(project => project.frontmatter.tags&&project.frontmatter.tags.includes(tag))
            } 
        }
    })
}

export interface Props {
    projects?: any[];
}

const {
    projects=[]
} = Astro.props

const {
    tag
} = Astro.params

---

<Base>
    <h1 class="text-center">My Projects</h1>
    <div class="flex flex-col gap-3 my-5">
        { projects.map((project) => {
            const {
                slug,
                title,
                description,
                date='',
                tags=[],
            } = project.frontmatter as Project
            return (
                <article data-pagefind-filter="type:project">
                    <a href={`/projects/${slug}`} class="text-black font-bold">{title}</a>
                    <div class="flex items-center gap-3 text-fluid-0">
                        <time>{(new Date(date)).toDateString()}</time>
                        {tags.map((tag) => {
                            return <a href={`/projects/tags/${tag}`}>{tag}</a>
                        })}
                    </div>
                    <p class="text-fluid-0">
                        {description}
                    </p>
                </article>
            )
        })}
    </div>
</Base>